<!DOCTYPE html>
 <html> 
    <head> 
        <title>MI WEB APP</title> 
        <link rel ="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    </head> 
    <body> 
        <header>   
            <!-- a significa anchor (ancla) -->
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('math') }}">Matemáticas</a>
        <a href="{{ url_for('azulejo') }}">Azulejos</a>
        </header>

        <main>  
            <div>   
                <!-- etiqueta p significa parrafo -->
                <p>Escribe tu nombre.</p>
                <input class="input-welcome" type="text" placeholder="Tu nombre", id="input-name">
            
                <button class="button-ok", id="btn-OK">aceptar</button>
            </div>
        </main>
        <footer>   
            <p>Gracias por visitar el sitio WEB</p>
        </footer>
    </body>
 </html>